# 使用 npm 官方公共仓库
registry=https://registry.npmjs.org/

# pnpm 配置
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
prefer-workspace-packages=true